BODY {
	SCROLLBAR-FACE-COLOR: #003366; FONT-WEIGHT: bold; FONT-SIZE: 8pt; BACKGROUND: #c8e8f0; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; COLOR: #003366; SCROLLBAR-3DLIGHT-COLOR: #ffffff; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #ffffff; FONT-FAMILY: Verdana,Arial; SCROLLBAR-DARKSHADOW-COLOR: orange; SCROLLBAR-BASE-COLOR: #ffffff
}
TD {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; COLOR: #003366; FONT-FAMILY: Verdana,Arial
}
A:link {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #003366; FONT-FAMILY: Verdana,Arial; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #003366; FONT-FAMILY: Verdana,Arial; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; FONT-SIZE: 7.5pt; COLOR: #ff8c00; FONT-FAMILY: Verdana,Arial; TEXT-DECORATION: none
}
