<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" />
  </system.web>
  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICreateWorkOrder" />
      </basicHttpBinding>
      -->
    <!--<netTcpBinding>
			  <binding name="NetTcpBinding_Iproductprice" />
		  </netTcpBinding>-->
    <!--
    </bindings>-->
    <!--<client>
      <endpoint address="http://localhost:53334/CreateWorkOrderService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICreateWorkOrder" contract="CreateWorkOrderService.IManageWorkOrder" name="BasicHttpBinding_ICreateWorkOrder" />
    </client>-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <!--<connectionStrings><add name="MESC2DSEntities" connectionString="metadata=res://*/ManageWorkOrderService.csdl|res://*/ManageWorkOrderService.ssdl|res://*/ManageWorkOrderService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.255.225.199;initial catalog=MESC2DS;persist security info=True;user id=mesc1_user;password=CAL$ci7dscq#89;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient" /><add name="CreateWorkOrderServiceEntities" connectionString="metadata=res://*/ManageWorkOrderService.csdl|res://*/ManageWorkOrderService.ssdl|res://*/ManageWorkOrderService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.255.225.199;initial catalog=MESC2DS;persist security info=True;user id=mesc1_user;password=CAL$ci7dscq#89;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
  <!--<connectionStrings>
    <add name="MESC2DSEntities" connectionString="metadata=res://*/ManageWorkOrderService.csdl|res://*/ManageWorkOrderService.ssdl|res://*/ManageWorkOrderService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.255.225.199;initial catalog=MESC2DS;persist security info=True;user id=mesc1_user;password=CAL$ci7dscq#89;multipleactiveresultsets=True;&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="MessageRepository" value="D:\\MercSWATXMLStore\" />
    <add key="MessageIDSystem" value="MRC" />
    <add key="MessageIDType" value="FE" />
    <add key="MessageIDIdentifier" value="Pending_Workorder" />
    <add key="MessageOrigAppID" value="MERC"/>
    <add key="MessageDestAppID" value="SWAT"/>
    <add key="AccessQueue" value="MERC.SWAT.FEED" />
    <add key ="XMLLogPath" value="D:\\SWATXMLLog"/>
    <add key="IsXmlLogEnable" value="N"/>
    <add key="IsSWATLogEnable" value="Y"/>
    <add key="CalltoGenerateXMLforSWAT" value="Y"/>
    <!--Debadrita_SWAT_MERC_MQ-->
    <add key="MQManagerRequestQueueName" value="MERCDEV1" />
    <add key="MQManagerResponseQueueName" value="MERCDEV" />
    <add key="MQManagerRequestName" value="RKEM.RKEMME.REQUEST" />
    <add key="MQManagerResponseName" value="RKEM.RKEMME.RESPONSE" />
    <add key="ISSPTBuild" value="False" />
    <add key="ExtraLog" value="False" />
    <add key="SPTRKEMFilePath" value="C:\\SPT\\RKEMDataSPT.txt" />
    <add key="MQManagerDamageQName" value="RKEM.RKIP.UPLOAD" />
    <!--<add key="ISSPTBuild" value="True" />
    <add key="SPTRKEMFilePath" value="C:\\SPT\\RKEMDataSPT.txt" />-->
    <add key="Block_location" value="Y" />
    <!--Kasturee_Block_3 Location_Temporary_30-08-18-->
    <add key="RKEM_PL_Log" value="N" />
    <!--Kasturee_RKEM_Log_for _Presentloc_06_03_2019-->
    <add key="RKEM_PL_Log_2" value="N" />
    <!--Kasturee_RKEM_Log_for _Presentloc_18_03_2019-->
    <add key="Labour_mismatch_Log" value="Y" />
    <!--Kasturee_Labor_mismatch_log_25_03_2019-->
    <add key="Labour_mismatch_Log_Repair_count" value="Y" />
    <!--Kasturee_Labor_mismatch_log_02_05_2019-->
    <add key="RKEMLogFile" value="D:\\RKEM_Data\\RKEM"/>
    <!--//Kasturee_RKEM_Damage_Log_12-08-19-->
    <add key="RKEM_Damage_Log" value="Y"/>
    <!--Kasturee_RKEM_Damage_Log_12-08-19-->
    <add key="RKEM_Grade_msg" value="Y"/>
    <add key="STSEXC" value="0910,0911,0922,0923,0924,0925,0912,0913,0914,0915,0920,0921,"/>
    <add key="TTLModeEXC" value="49,22,23"/>
    <add key="DAMAGE1" value="N"/>
  </appSettings>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\MercPlus_Logs\ManageWorkOrderService.log" formatter="Text Formatter" rollFileExistsBehavior="Increment" rollInterval="Midnight" rollSizeKB="4096" maxArchivedFiles="60" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, Callstack" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>



  <connectionStrings>
    <add name="ManageWorkOrderServiceEntities" connectionString="metadata=res://*/ManageWorkOrderService.csdl|res://*/ManageWorkOrderService.ssdl|res://*/ManageWorkOrderService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.255.225.199;initial catalog=MESC2DS;persist security info=True;user id=mesc1_user;password=CAL$ci7dscq#89;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>

<!--<connectionStrings>
    <add name="ManageWorkOrderServiceEntities" connectionString="metadata=res://*/ManageWorkOrderService.csdl|res://*/ManageWorkOrderService.ssdl|res://*/ManageWorkOrderService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.255.182.61;initial catalog=MESC2DS;persist security info=True;user id=mesc2_user;password=CAL$ci7dscq#87;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings> </configuration>-->
<!--<connectionStrings>
    <add name="ManageWorkOrderServiceEntities" connectionString="metadata=res://*/ManageWorkOrderService.csdl|res://*/ManageWorkOrderService.ssdl|res://*/ManageWorkOrderService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.255.82.216;initial catalog=MESC2DS;persist security info=True;user id=mesc2_user;password=CAL$ci7dscq#87;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->
