vti_encoding:SR|utf8-nl
vti_syncwith_localhost\\e\:\\06032004 intranet/e\:/06032004 intranet:TR|03 Jun 2004 17:00:06 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\eha009\\desktop\\plusintranets\\07mercplusintranetdev/c\:/documents and settings/eha009/desktop/plusintranets/07mercplusintranetdev:TR|01 Nov 2004 20:01:04 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\eha009\\desktop\\plusintranets\\05mercplusintranetdev/c\:/documents and settings/eha009/desktop/plusintranets/05mercplusintranetdev:TR|01 Nov 2004 20:01:04 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\jsi012\\desktop\\mercplusintranetdev/c\:/documents and settings/jsi012/desktop/mercplusintranetdev:TR|01 Nov 2004 14:01:04 -0000
vti_timelastmodified:TR|07 Nov 2004 00:51:48 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\eha009\\desktop\\mercplusintranetdev/c\:/documents and settings/eha009/desktop/mercplusintranetdev:TR|03 Jun 2004 17:00:06 -0000
vti_syncwith_localhost\\n\:\\mesc new\\admin\\it\\mercplus\\website mercplus\\06032004 intranet/n\:/mesc new/admin/it/mercplus/website mercplus/06032004 intranet:TW|15 Mar 2004 11:47:13 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\eha009\\desktop\\plusintranets\\09mercplusintranetdev/c\:/documents and settings/eha009/desktop/plusintranets/09mercplusintranetdev:TR|07 Nov 2004 00:51:48 -0000
vti_syncwith_localhost\\c\:\\13 - web\\mercenable/c\:/13 - web/mercenable:TW|15 Mar 2004 11:47:13 -0000
vti_syncwith_enabledev.apmoller.net\:80/cenequ/merc:TR|07 Nov 2004 00:51:48 -0000
vti_syncwith_localhost\\c\:\\documents and settings\\eha009\\desktop\\intranet_asof_07082004/c\:/documents and settings/eha009/desktop/intranet_asof_07082004:TW|15 Mar 2004 11:47:13 -0000
vti_author:SR|urmdoshi\\Urmi
vti_modifiedby:SR|urmdoshi\\Urmi
vti_nexttolasttimemodified:TR|07 Nov 2004 00:51:48 -0000
vti_timecreated:TR|13 Feb 2009 10:27:41 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_enable.apmoller.net\:80/cenequ/merc:TR|07 Nov 2004 00:51:48 -0000
vti_cacheddtm:TX|13 Feb 2009 10:27:41 -0000
vti_filesize:IR|827
vti_lineageid:SR|{8C02F2D7-681F-4B2C-9AEC-FB4F616C3CEB}
vti_backlinkinfo:VX|MAIN/menu.htm
